@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

html {    
    background-image: url(../../assets/img/halloween-72939_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body{
    background: linear-gradient(180deg, rgba(0,0,0,0.30015756302521013) 100%, rgba(0,0,0,0.33657212885154064) 100%);
}
header {

    position: relative;
    z-index: 1;
}


.hearder-border {
    display: flex;
    justify-content: center;
}

#logo {
    width: 100px;

}

#logo img {
    width: 100%;
}

.menu {   
    flex: 1;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.menu ul li {
    text-align: center;
    width: 300px;

}

.menu ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#title h1 {
    font-size: 2em;    
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 200px;
    color: aliceblue;
}
.home{
    color: aliceblue;
}
.home p {
    text-align: justify;
    margin-top: 30px;
    
}

#sobre {
    text-align: center;
    margin-top: 300px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #6e6e6e;
    font-size: .8em;
}

footer .container {
    display: flex;
    width: 100%;
}