* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../img/vista-superior-do-conceito-de-halloween-com-saudacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    margin-top: 100px;
    justify-content: center;
    display: flex;
}

.contact-container {
    background-color: rgba(91, 96, 100, 0.35);
    width: 100%;
    height: 500px;
    max-width: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: rgb(253, 253, 253);
    text-align: center;

}

#contact,
.inputs {
    text-align: center;
    margin-top: 30px;
}

.contact-container input,
.contact-container textarea {
    width: 220px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 150px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.contact-container p {
    text-align: center;
}

@media screen and (max-width: 512px) {
    .contact-container textarea {
        width: auto;
    }
    .contact-container{
        background-color: rgba(91, 96, 100, 0.35);
    width: 100%;
    height: auto;
    max-width: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: rgb(253, 253, 253);
    text-align: center;
    }
}